body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  margin: 0;
  padding: 20px;
}

h1 {
  color: #fff;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
}

button {
  padding: 8px 15px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#weatherResult, #movieResult {
  margin-top: 15px;
}