body{
    font-family: Arial;
    text-align:center;
    padding:20px;
    background:#f4f4f4;
}

input{
    padding:10px;
    width:250px;
}

button{
    padding:10px 20px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
}

#weatherResult,
#movieResult{
    margin-top:20px;
}