.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #0f172a;
  color: white;
  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
  flex-wrap: wrap;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    justify-content: center;
    margin-top: 10px;
  }
}